extends ../layout

block content
	.container
		.row
			each item in students
				.col-md-2
					.thumbnail
						a(href='/student/#{item._id}')
							img(src='#{item.poster}', alt='#{item.title}')
						.caption
							h3 #{title}
							p: a.btn.btn-primary(href="/student/#{item._id}", role="button") 查看信息